* {
  margin: 0;
  padding: 0; }

header {
  background-color: #CBA4C3;
  background-size: cover; }
  header .logoheader {
    padding: 2rem;
    width: 200px; }
  header .navbar {
    background-color: transparent !important; }
  header .navbar li :hover {
    color: white; }

main .slide {
  max-width: 600px;
  text-align: center;
  margin: auto;
  margin-top: 5rem;
  border-radius: 3rem; }

section .h2 {
  text-align: center;
  color: #9B598E;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: auto;
  height: auto;
  margin-top: 100px;
  font-size: 100px; }

section .contenedor {
  display: flex;
  padding: 5rem;
  justify-content: space-between;
  text-align: center; }

section .btn-primary {
  background-color: #8064A2 !important;
  border-color: #8064A2 !important; }

footer {
  background-color: #CBA4C3;
  background-size: cover;
  text-align: center;
  padding: 7rem;
  width: 100%; }
  footer .ul {
    text-decoration: none;
    color: #ecf0f1;
    padding: 20px; }
  footer .ul li {
    display: inline-block;
    text-align: center;
    padding: 2rem;
    font-size: 20px; }
  footer .ul li:hover {
    color: white; }

main .contenedor {
  display: flex;
  padding: 5rem;
  justify-content: space-between;
  text-align: center; }

main .btn-primary {
  background-color: #8064A2 !important;
  border-color: #8064A2 !important; }

main {
  text-align: center;
  margin-bottom: 30px; }

main .h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  margin-top: 30px; }

main .p {
  padding: 40px; }
